/* Licence12i.css */

/* costum buttom */

#btnPro2{
    background-color: var(--bgColor1);
    width: 10rem;
    border-radius: 6px;
    color:white;
    font-weight: 600;
    cursor: pointer;
    padding:8px 8px ;
    transition: transform 0.3s ease;
}
#btnPro2:hover{
    background-color: var(--bgColor2);
    color:white;
    border: none;
    transform: scale(1.1);
}
/* --------------- */

#samaDivContainer {
    padding: 20px;
  }
  
  .headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .tableSection {
    margin-top: 20px;
  }
  