.whole-block{
    margin: 3rem auto;
    width: 76rem;
}

.top-section {
    display: flex;
}

.left-1 {
    width: 34rem;
}

.left-2 {
    width: 34rem;
}

.right {
    width: 34rem;
}

.bordure {
    border: 5px solid #13798C;
    padding: 2rem 3rem;
    margin: 2rem 2rem;
}

.bordure>h4 {
    color: #6B2239;
    font-weight: 700;
    text-align: center;
}

.bordure>p {
    font-size: 18px;
    text-align: justify;
}

@media (max-width: 1200px) {
    .whole-block {
        width: 63rem;
        margin: 0;
    }
    .bordure {
        padding: 1rem;
    }
    .bordure>p {
        font-size: 14px;
    }
    .left-1 {
        width: 28rem;
    }
    
    .left-2 {
        width: 28rem;
    }
    
    .right {
        width: 28rem;
    }
}

@media (max-width: 990px) {
    .top-section {
        display: block;
        width: 32rem;
        margin: auto;
    }
    .bottom-section {
        width: 28rem;
        margin: auto;
    }
    .whole-block {
        margin: auto;
    }
}

@media (max-width: 770px) {
    .bordure>h4 {
        font-size: large;
    }
    
    .bordure>p {
        font-size: 14px;
    }

    .bordure {
        width: 23rem;
    }

    .top-section {
        width: 29rem;
    }

    .top-section {
        margin: 0;
    }
    .bottom-section {
        margin: 2rem;
    }
}