.whole-block{
    margin: 3rem auto;
    width: 76rem;
}

.top-section {
    display: flex;
}

.left-1 {
    width: 34rem;
}

.left-2 {
    width: 34rem;
}

.right {
    width: 34rem;
}

.bordure {
    border: 5px solid #13798C;
    padding: 2rem 3rem;
    margin: 2rem 2rem;
}

.bordure>h4 {
    color: #6B2239;
    font-weight: 700;
    text-align: center;
}

.bordure>p {
    font-size: 18px;
    text-align: justify;
}