.Footer-class .top-footer {
  background-color: var(--bgTopFooter);
  padding: 20px 40px;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.Footer-class .top-footer .tel {
  display: flex;
  color: white;
  align-items: center;
  align-content: center;
  gap: 8px;
  padding: 10px 0;
}

.Footer-class .top-footer .tel img {
  width: 50px;
}

.Footer-class .top-footer .tel .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Footer-class .top-footer .tel .info h3 {
  font-size: 1.15rem;
  margin: 0;
}

.Footer-class .top-footer .tel .info p {
  font-size: 0.9rem;
  margin: 0;
  color: white;
}

.tel::after {
  content: "";
  width: 3px;
  height: 50px;
  background-color: #ccc;
  margin: 0 30px;
}

.tel:last-child::after {
  display: none;
}
.Footer-class .footer1 {
  background-color: var(--bgColorFooter1);
  display: flex;
  flex: 1;
  padding: 40px 15px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Footer-class .footer1 .input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
}

.Footer-class .footer1 h4 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

.Footer-class .footer1 .rounded-input {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  flex: 1;
  outline: none;
}
.Footer-class .footer1 .send-button {
  position: relative;
  background-color: var(--bgColorButton);
  color: #fff;
  border: none;
  border-radius: 50%;
  margin-left: -60px;
  padding: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Footer-class .footer1 .send-button:hover {
  background-color: var(--bgColor1);
}

.Footer-class .footer1 .send-button:focus {
  outline: none;
}

.Footer-class .footer1 .send-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.Footer-class .footer2 {
  background: var(--bgColorFooter2);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.Footer-class .footer2 .links,
.Footer-class .footer2 .social-media {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.Footer-class .footer2 .links a {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.Footer-class .footer2 .links a:hover {
  transform: scale(1.1);
  font-weight: 600;
}

.Footer-class .footer2 .links:hover a {
  opacity: 0.7;
}

.Footer-class .footer2 .links a:hover {
  opacity: 1;
}
.Footer-class .footer2 .social-media {
  align-items: center;
}
.Footer-class .footer2 .social-media a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.Footer-class .footer2 .social-media a img {
  width: 64px;
}

.Footer-class .footer2 .social-media a i {
  font-size: 65px;
}

.Footer-class .footer2 .copyright {
  display: flex;
  flex: 1;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
}

.Footer-class .footer2 .copyright i {
  font-size: 25px;
}
.Footer-class .footer2 .copyright h6 {
  font-size: 1rem;
  margin: 0;
}

.Footer-class .decorative-circles {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin-top: -10px;
}

.Footer-class .decorative-circles .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--bgColorFooter1);
  animation: float 3s infinite ease-in-out alternate;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* la responsivite pour les ecrans de grands tailles */
@media (min-width: 768px) {
  .Footer-class {
    position: relative;
    padding-top: 100px;
  }

  .Footer-class .top-footer {
    position: absolute;
    width: 80%;
    left: 9.2%;
    transform: translateX(-50%);
    top: 5%;
    padding: 30px 10px;
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease; /* Transition douce */
  }

  .Footer-class .top-footer .tel img {
    width: 65px;
  }

  .Footer-class .top-footer .tel .info h3 {
    font-size: 1.5rem;
  }

  .Footer-class .top-footer .tel .info p {
    color: white;
    font-size: 1.2rem;
  }

  .Footer-class .footer1 {
    padding-top: 110px;
  }

  .Footer-class .footer1 .input-container,
  .Footer-class .footer1 h4 {
    margin-top: 30px;
  }

  /* Animation pour faire apparaître le top-footer */
  @keyframes slideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  .Footer-class.animate .top-footer {
    animation: slideIn 0.5s forwards;
  }
}
