* {
  font-family: "Poppins";
}
body
  > div:nth-child(3)
  > div
  > div.ant-modal-wrap
  > div
  > div:nth-child(2)
  > div
  > div.ant-modal-footer
  > button.ant-btn.css-dev-only-do-not-override-m4timi.ant-btn-primary {
  background-color: var(--bgColor2);
  color: white;
}
#btnRepondre {
  background-color: var(--bgColor1);
  color: white;
  font-weight: 500;
  border: 1px solid;
}
#btnRepondre:hover {
  background-color: var(--bgColor2);
  color: white;
}

#monbtnProMax {
  text-decoration: none;
  background: linear-gradient(to right, var(--bgColorButton), var(--bgColor1));
  color: var(--textColor);
  border: 2px solid var(--bgColorButton); /* Bordure initiale */
  font-size: 1.1rem;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 30px;
  transition: all 0.4s ease;
  animation: borderPulse 2s infinite;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px)
  
}

#monbtnProMax:hover {
  background: linear-gradient(to right, var(--bgColor1), var(--bgColor2));
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  animation: borderPulse 1s infinite;
}

@keyframes borderPulse {
  0% {
    border-color: var(--bgColorButton);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-color: var(--bgColor1);
    box-shadow: 0 4px 12px rgba(19, 121, 140, 0.4);
  }
  50% {
    border-color: var(--bgColor2);
    box-shadow: 0 4px 12px rgba(107, 34, 57, 0.6);
  }
  75% {
    border-color: var(--bgColorButton);
    box-shadow: 0 4px 12px rgba(8, 88, 103, 0.8);
  }
  100% {
    border-color: var(--bgColorButton);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}

.blur-background {
  filter: blur(2px);
  transition: all 0.3s ease;
}


@media (max-width: 480px){
  .blur-background {
    filter: blur(5px);
    transition: all 0.3s ease;
  }
}