* {
  font-family: "Poppins";
}
body
  > div:nth-child(3)
  > div
  > div.ant-modal-wrap
  > div
  > div:nth-child(2)
  > div
  > div.ant-modal-footer
  > button.ant-btn.css-dev-only-do-not-override-m4timi.ant-btn-primary {
  background-color: var(--bgColor2);
  color: white;
}
#btnRepondre {
  background-color: var(--bgColor1);
  color: white;
  font-weight: 500;
  border: 1px solid;
}
#btnRepondre:hover {
  background-color: var(--bgColor2);
  color: white;
}
