#loginPageReset{
    display: flex;
    justify-content: center;
    align-items: center;
}
#loginBoxReset{
    background: rgba(255, 255, 255, 0.9);
    /* padding: 60px; */
    width: 45%;
    margin-top: 3rem;
    border-radius: 8px;
    box-shadow: 0 #fff;
}

@media (max-width: 991px) {
    #MonInput2{
        width: 100% !important;    
    }
    #loginBoxReset{
        width: 95% !important;    
    }
    .BtnvalidateReset{
    width: 90% !important;
    padding: 0 !important;
    }
}

.BtnvalidateReset{
    width: 53%;
    padding: 5px 5px;
    background-color: var(--bgColor2) !important;
    border: none;
    border-radius: 30px;
    color: white;
    height: 50px; 
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.BtnvalidateReset:hover{
    color: white !important;
    background-color: var(--bgColor1) !important;
    transform: scale(1.05);
}