#nioudiouksi{
  text-decoration: none;

}
.cards-container a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background: var(--bgColor2);
  }
  
  @media (max-width: 768px) {
    .card {
        display: block;
        flex-direction: column;
        width: 100%;
        margin: 10px 0;

    }
  }
  @media (max-width: 1024px) {
    .cards-container {
      flex-direction: column;
      text-align: center;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin: 10px;
    }
  }
  