@media (max-width: 800px) {
    
    .login-box{
        width: 100% !important;
        padding: 0 !important;
        position: relative;
        margin: 10px !important;
    }
    #SvgRsp{
        width: 15rem !important;
    }
    .form-title{
        font-size: 32px !important;
        margin: 12px !important;
    }
}
