body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Personnaliser la scrollbar pour l'ensemble de la page */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #a3a3a3; /* Couleur de la barre */
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #d7d7d7; /* Couleur de fond de la scrollbar */
  border-radius: 8px;
}



.scrollable-container::-webkit-scrollbar {
  width: 6px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888;
}
